@model WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Mobile Store : Your Cart";
}
<script src="~/Scripts/jquery-2.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
      
        $("form").submit(function () {
           
             $(".buylbl").show();           
        })

        if ($("#count").text() == "0")
            $("#buyAllBut").hide();

    })
</script>
<label id="count" style="display:none">@Model.CartLines.Count()</label>
<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Name</th>
            <th>Price</th>
            <th>Total</th>
        </tr>       
    </thead>
    <tbody>

        @foreach (var line in Model.CartLines)
        {
            <tr>
                <td>@line.Line.Quantity</td>
                <td>@line.Phone.Name </td>
                <td>@line.Phone.Price.ToString("# euro")</td>

                <td>@((line.Line.Quantity * line.Phone.Price).ToString("# euro"))</td>
                <td>
                    <div class="pull-right" style="margin-left:10px">
                        <button  type="button" class="btn btn-info  btn-danger" data-toggle="modal" data-target="#@line.Phone.MobilePhoneId">Buy</button>
                    </div>

                    <div id="@line.Phone.MobilePhoneId" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Enter your address</h4>
                                </div>

                                <div class="modal-body">
                                    
                                        @using (Html.BeginForm("Buy", "Cart"))
                                        {
                                            <div>
                                                <input type="hidden" name="MobilePhoneId" value="@line.Phone.MobilePhoneId" />
                                                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                                
                                                @Html.TextBox("address", "", new { required = "required" })
                                                <input type="submit" class="btn btn-success" value="Buy" />

                                                <label style="display:none;" class="buylbl"><strong>Purchase confirmed</strong></label>
                                            </div>
                                        }
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                    
                    <div class="pull-right">
                        <input type="hidden" name="MobilePhoneId" value="@line.Phone.MobilePhoneId" />
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Remove from cart" />
                    </div>
                    }

                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" >Total:</td>
            <td>@Model.TotalValue.ToString("# euro")</td>
            <td>
                <div class="pull-right" style="margin-left:10px">
                    <button id ="buyAllBut" type="button" class="btn btn-info  btn-primary" data-toggle="modal" data-target="#myModal">Buy All</button>
                </div>


                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Enter your address</h4>
                            </div>

                            <div class="modal-body">
                              @using (Html.BeginForm("Buy", "Cart"))
                                    {
                                        <div>

                                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                            @Html.TextBox("address", "", new { required = "required" })
                                            <input type="submit" class="btn btn-success" value="Buy" />

                                            <label style="display:none;" class="buylbl"><strong>Purchase confirmed</strong></label>
                                        </div>

                                    }

                                
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn primary" href="@Model.ReturnUrl">Continue shopping</a>
</div>

