@model WebUI.Models.MobilePhone
<link href="~/Content/site.css" rel="stylesheet" />
<div class="well">
    <div class="row">
        <div class="col-xs-10">
            <h3><strong>@Model.Name</strong></h3>
            <img src="@Model.ImgUrl"/>
        </div>

        <div class="col-xs-2">
            <h3><strong class="pull-right label label-primary price">@Model.Price.ToString("# euro")</strong></h3>

            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                <div class="pull-right">
                    @Html.HiddenFor(x => x.MobilePhoneId)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="btn btn-success" value="Add to cart" />
                </div>
                
            }
        </div>
  </div>
    
</div>
